body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif;
    @media (prefers-color-scheme: dark) {
        color: white;
        background: rgb(32, 32, 32);
    }
}

